<%= render partial: "timer" %>

<div id="center">
  <div id="game">
    <div id="maze">
      <div id="end"></div>
    </div>
    <div id="joystick">
      <div class="joystick-arrow"></div>
      <div class="joystick-arrow"></div>
      <div class="joystick-arrow"></div>
      <div class="joystick-arrow"></div>
      <div id="joystick-head"></div>
    </div>
    <div id="note">
      Click The Joy-Stick To Start!
      <p>Move Every Ball To The Center. Ready For Hard Mode? Press H</p>
    </div>
  </div>
</div>

<div id="leaderboard" class="my-24 mx-auto" style="width: 500px;">
  <%= render partial: "leaderboard", locals: {scores: @scores} %>
</div>